.custom-cursor{
    position: fixed;
    top: 0;
    left: 0;
    height: 20px;
    display: none;
    border-radius: 80%;
    pointer-events: none;
    z-index: 10000;
    mix-blend-mode: overlay; /*overlay*/
    padding: 10px;
    display: flex;
    transform: translate(-50%,-50%);
    align-items: center;
    background-color: white;
}
  
.cursor-text{
    font-size: 5px;
    font-weight: 900;
    letter-spacing: 1px;
    display: none;
}
