.work-text {
    text-align: left;
    margin-left: 28.5dvh;
}

.work-text h1{
  font-family: "PowerChord Regular";
  text-align: center;
  font-size: 12.2dvh;
  margin-top: 16.3vh;
  margin-right: 16.3vh;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 85%;
}


.work-text p{
    font-family: "MonoramaRegular";
    text-align: center;
    margin-top: 5vh;
    margin-right: 30dvh;
    font-size: 1.2vw;
    color: #322c26;
}

/*IMMAGINI*/
.block-container2{
  display: flex;
  flex-direction: column;
}

.block2{

  align-items: center;
  width: 54.4vh;
  height: 54.4vh;
  margin: 1.3vh 2.7vh 4vh 10.8vh;
  border-radius: 2.7vh 2.7vh 2.7vh 2.7vh;
}

.block2-1{
  width: 54.4vh;
  height: 35.4vh;
  background: url(/work-img1.png) no-repeat 50% 50%;
  background-size: contain;
  border: 0.2vh solid black;
}

.block2-2{
  background: url(/work-img2.png) no-repeat 50% 50%;
  background-size: contain;
}

.block2-3{
  background: url(./work-img3.png) no-repeat 50% 50%;
  background-size: contain;
}


h2{
    display: flex;
    font-family: "MonoramaRegular";
    font-size: 4vh;
    text-align: center;
    margin-bottom: 0.13vh;
    color: #322c26;
}

.toms p,
.sette p,
.cont-if p{
    font-family: "MonoramaRegular";
    text-align: justify;
    margin-top: 1.36vh;
    margin-right: 7.8vh;
    font-size: 2.7vh;
    color: #322c26;
}

.sette span,
.cont-if span {
    text-align: center;
    font-family: "MonoramaRegular";
    font-size: 1.5vw;
    color: #322c26;
}