.work-text {
    text-align: left;
    margin-left: 28.5dvh;
}

.work-text h1{
    font-family: "PowerChord Regular";
    text-align: left;
    font-size: 90px;
    margin-left: 55.5dvh;
    margin-top: 120px;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 85%;
}

.work-text p{
    font-family: "MonoramaRegular";
    text-align: center;
    margin-top: 5vh;
    margin-right: 30dvh;
    font-size: 1.2vw;
    color: #322c26;
}

/*IMMAGINI*/
.block-container2{
  display: flex;
  flex-direction: column;
}

.block2{
  position: relative;
  width: 400px;
  height: 400px;
  margin: 10px 20px 30px 80px;
}

.block2 h1{
  position: relative;
  font-family: "MonoramaRegular";
  font-weight: normal;
  font-size: 45px;
  color: black;
}

.block2-1{
  background: url(/work-img3.png) no-repeat 50% 50%;
  background-size: contain;
}

.block2-2{
  background: url(/work-img2.png) no-repeat 50% 50%;
  background-size: contain;
}

.block-3{
  background: url(/work-img1.png) no-repeat 50% 50%;
  background-size: contain;
}
