
/*TESTO*/
.pcto-text {
    
    margin-left: 28.5dvh;
}
  
.pcto-text h1{
    font-family: "PowerChord Regular";
    text-align: center;
    font-size: 12.2vh;
    margin-top: 16.3vh;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 85%;
    color: #322c26;
}


.showtell h2,
.pon h2,
.policlinico h2,
.heartbrain h2{
    display: flex;
    font-family: "MonoramaRegular";
    font-size: 4vh;
    text-align: center;
    margin-bottom: 0.13vh;
    color: #322c26;
}

.showtell p,
.pon p,
.policlinico p,
.heartbrain p{
    font-family: "MonoramaRegular";
    text-align: justify;
    margin-top: 1.36vh;
    margin-right: 7.8vh;
    font-size: 2.7vh;
    color: #322c26;
}

.showtell span,
.pon span,
.policlinico span,
.heartbrain span {
    font-family: "MonoramaRegular";
    font-size: 1.2vw;
    color: #322c26;
}


/*IMMAGINI*/

.pcto{
    width: 103.4vh;
    height: 28vh;
    margin: 4vh 2.7vh 4vh 0vh;
}

.img-showtell{
    background: url(./showtell.jpg) no-repeat 50% 50%;
    background-size: cover;
    
}

.img-pon{
    background: url(./pon.jpg) no-repeat 50% 50%;
    background-size: contain;
}

.img-heartbrain{
    background: url(./heartbrain.jpeg) no-repeat 50% 50%;
    background-size: cover;
}

.img-sanmatteo{
    background: url(./sanmatteo.jpg) no-repeat 50% 50%;
    background-size: contain;
}


/*BOTTONI*/
button {
    position: relative;
    background: none;
    outline: none;
    border: 0.13vh solid #322c26;
    border-radius: 0.25em;
    font-size: 2.3vh;
    color: var(--color-text);
    font-family: "MonoramaRegular";
    padding: 0.25em 0.75em;
    cursor: pointer;
    margin-bottom: 2.7vh;
    overflow: hidden;
    transition: all 0.03s;
    z-index: 1;
}

button span {
    padding-right: 0.5em;
}

button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #322c26;
    z-index: -1;
    transition: all 0.3s;
}

button:hover {
    color: #F2D0A4;
}

button:hover:after {
    width: 100%;
}