
.about-text {
    text-align: left;
    margin-left: 28.5dvh;
}
  
.about-divider h2{
    text-align: left;
    font-weight: 400;
    line-height: 85%;
}
  
.about-text h1{
    font-family: "PowerChord Regular";
    text-align: center;
    font-size: 12.2dvh;
    margin-top: 16.3dvh;
    margin-right: 16.3dvh;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 85%;
}
  
.about-text h2{
    font-family: "MonoramaRegular";
    text-align: justify;
    margin-top: 2.7dvh;
    margin-right: 30dvh;
    font-size: 2.7vh;
    color: #322c26;
}
  
/*IMMAGINI*/
.horizontal-scroll-section {
    position: relative;
    height: 200dvh;  
  }
  
  .horizontal-scroll-container {
    position: sticky;
    top: 0;
    display: flex;
    height: 100dvh;
    align-items: center;
    overflow: hidden;
  }
  
  .horizontal-scroll-content {
    display: flex;
    gap: 2.1dvh; 
  }
  
  .horizontal-scroll-card {
    border-radius: 1.3dvh 1.3dvh 1.3dvh 1.3dvh;
    position: relative;
    height: 54.4dvh;
    width: 54.4dvh;
    overflow: hidden;
    background-color: #d3d3d3; 
  }
  
  .horizontal-scroll-card-image {
    position: absolute;
    inset: 0;
    z-index: 0;
    transition: transform 0.3s ease;
  }
  
  .horizontal-scroll-card-content {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: grid;
    place-content: center;
  }
  
  .horizontal-scroll-card:hover .horizontal-scroll-card-image {
    transform: scale(1.1);
  }

.blocks-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 1.3dvh 1.3dvh 1.3dvh 1.3dvh;
}

.block{
    position: relative;
    align-items: center;
    width: 54.4dvh;
    height: 54.4dvh;
    margin: 1.3dvh 2.7dvh 4dvh 10.8dvh;
    border-radius: 2.7dvh 2.7dvh 2.7dvh 2.7dvh;
}

.block h1{
    position: relative;
    font-family: "MonoramaRegular";
    font-weight: normal;
    font-size: 6.1dvh;
    color: black;
    margin-left: 1.3dvh;
}

.block-1{
    background: url(./cambridge.png) no-repeat 50% 50%;
    background-size: contain;
}

.block-2{
    background: url(./igcse.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.block-3{
  
    background: url(./sicurezza.jpg) no-repeat 50% 50%;
    background-size: cover;
}
  
/*RESUME*/
.resume {
    text-align: center;
    margin-top: 8dvh;
    margin-bottom: 5dvh;
    min-width: fit-content;
}
  
.resume p{
    font-size: 2.4dvh;
    color: #322c26;
}
  
.resume span{
    font-size: 5.1dvh;
    color: #322c26;
    font-family: "MonoramaRegular";
}
  