.menu-bar,
.menu-overlay-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.shuffle-text {
    animation: shuffle 0.5s infinite alternate;
}

@keyframes shuffle {
    from {
        opacity: 1;
    }
    
    to {
        opacity: 0.5;
    }
}

.menu-bar a {
    -webkit-text-stroke-width: 0.19vh;
    -webkit-text-stroke-color: #9e6240;
}

.menu-logo a,
.menu-logo2 a{
    color: #ffd6a1;
    font-size: 4vh;
    font-family: 'PowerChord Regular';
}

.menu-open p {
    color: #322c26;
    font-size: 4vh;
    cursor: pointer;
    letter-spacing: 0.03em;
    font-family: 'PowerChord Regular';
}


.menu-close p {
    color: #ffd6a1;
    font-size: 4vh;
    cursor: pointer;
    
    font-family: 'PowerChord Regular';
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 2em;
    background:  #ab3429;
    z-index: 2;
    display: flex; 
    clip-path: polygon(0 0, 100% 0, 100% 0%, 0% 0%);
}

.menu-close-icon {
    flex: 2;
    display: flex;
    align-items: flex-end;
    
}

.menu-copy {
    flex: 4;
    display: flex;
    color: #ffd6a1;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 4.5em;
    
}

.menu-preview {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.menu-preview p{
    color: #ffd6a1;
    font-size: 3.4vh;
    font-family: 'MonoramaRegular';
}

.menu-close-icon {
    font-size: 13.6vh;
    -webkit-text-stroke: 0.68vh 0033e7; 
    line-height: 70%;
}

.menu-link-item {
    width: max-content;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.menu-link-item-holder {
    font-family: 'PowerChord Regular';
    position: relative;
    margin-bottom: 2.7vh;
}

.menu-link-item-holder a {
    color: #ffd6a1;
    font-size: 11vh;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 85%;
}

.menu-info {
    display: flex; 
    flex-wrap: nowrap; 
}

.menu-info a,
.menu-info p{
    font-size: 2.7dvh;
    color: #ffd6a1;
}

.menu-info-col {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'MonoramaRegular';
}

.menu-info-col2 {
    flex: 2;
    display: flex;
    margin-top: 2.7vh;
    flex-direction: column;
    font-family: 'MonoramaRegular';
}

.menu-info-col2 p{
    margin-bottom: 1.5vh;
    color:#ffd6a1;
}

.instagram,
.linkedin {
    margin-top: 2.5vh;
}

.mail {
    margin-bottom: 2vh;
}

.underline2{
    height: 0.3vh;
    width: 0;
    margin-top: 0.9vh;
    text-align: left;
    background-color:#ffd6a1;     
}

@media (max-width: 900px){
    .menu-close-icon {
        display: none;
    }

    .menu-copy {
        padding-top: 8em;
    }

    .menu-link-item-holder a {
        font-size: 10vh; 
    }
}